{% extends "./base.njk" %}

{% block main %}
  {% include "../_partials/_hero_big.njk" %}

  {% include "../_partials/_projects_cards.njk" %}

  {% include "../_partials/_partners.njk" %}


{% endblock main %}
  