<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- related posts -->
      <h3>Andere artikelen over {{post.data.subject}}</h3>
      <div class="row">
        {% for item in collections.Blog %}
          <div class="col-md-4">
              <a href="{{ item.page.url }}" class="card" style="background-image: url('img/blog/{{item.data.slug}}/bg.png')">
                <div class="card__body">
                  <p class="card__title">{{ item.data.title | upper }} - {{ item.data.subject | upper }}</p>
                </div>
              </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>