<div class="hero--big ">
  <div class="hero--big__bg" style="background: url(/img/projects/{{ background }}.png)"></div>
  <div class="hero--big__content">
    <div class="hero--big__text col-6 mt-5 p-5">
      <h1 class="hero--big__built">{{ built | upper }}</h1>
      <h2 class="hero--big__title">{{ title }}</h2>
      <p class="hero--big__intro">{{ intro }}</p>
    </div>
  </div>
</div>